body {
  background-color: white;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

a:hover {
  color: #f00;
}
.tab {
  padding: 6px 12px;
  text-decoration: none;
  color: #000;
}
#selected {
  font-weight: bold;
  background-color: #ddd;
  border-radius: 20px;
}
#hintBubble {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  width: 380px;
}
#hint {
  color: #fff;
  padding: 5px 1em;
  font-size: large;
}
#capacityBubble {
  position: absolute;
  margin-top: -0.5em;
  left: 10px;
  top: 425px;
  width: 380px;
}
#capacity {
  display: none;
  color: #fff;
  padding: 5px 1em;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  font-size: large;
}
html[dir=rtl] #capacity {
  float: left;
}
#capacityNumber {
  font-weight: bold;
}

/* 'Look' icon */
#look>path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

/* Buttons */
button {
  margin: 5px;
  margin-right: 12px;
  margin-left: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  font-size: 10%;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: white;
  font-size: large;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button:active {
  border: 1px solid blue !important;
}
button:hover, .buttonHover {
  box-shadow: 2px 2px 5px #888;
}
button>img {
  opacity: 0.6;
}
button.disabled {
  visibility: hidden;
}
#blockly {
  position: fixed;
}
#languageMenu {
  vertical-align: top;
  margin-top: 12px;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
}
.stop {
  background-position: -21px -21px;
}

#pegmanButton {
  padding: 0;
  margin: 0 5px;
  position: relative;
  font-size: large;
}
#pegmanButton:active {
  border: 1px solid #ddd !important;
}
#pegmanButton>img {
  margin-left: -0.5ex;
  margin-right: 0.5ex;
  height: 38px;
  width: 49px;
  background-position: -980px 0px;
  opacity: 0.8;
}
html[dir="RTL"] #pegmanButton>img {
  margin-left: 0.5ex;
  margin-right: -0.5ex;
}
#pegmanButton>span {
  position: absolute;
  top: 0.8ex;
  margin-left: -15px;
}
html[dir="RTL"] #pegmanButton>span {
  margin-right: -15px;
}
#pegmanMenu {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888;
  display: none;
  position: absolute;
}
#pegmanMenu>div {
  background-color: #fff;
}
#pegmanMenu>div:hover {
  background-color: #57e;
}
#pegmanMenu>div>img {
  height: 38px;
  width: 49px;
  background-position: -980px 0px;
};
