body {
  background-color: white;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

a:hover {
  color: #f00;
}
.tab {
  padding: 4px 10px 1px;
  text-decoration: none;
  color: #000;
}
#selected {
  font-weight: bold;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#hintBubble {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  width: 380px;
}
#hint {
  color: #fff;
  padding: 5px 1em;
  font-size: large;
}
#capacityBubble {
  position: absolute;
  margin-top: -0.5em;
  left: 10px;
  top: 425px;
  width: 380px;
}
#capacity {
  display: none;
  color: #fff;
  padding: 5px 1em;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  font-size: large;
}
html[dir=rtl] #capacity {
  float: left;
}
#capacityNumber {
  font-weight: bold;
}

/* 'Look' icon */
#look>path {
  display: none;
  fill: none;
  stroke: #000;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

/* Buttons */
button {
  margin: 5px;
  margin-right: 12px;
  margin-left: 0;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button>img {
  opacity: 0.6;
}
button.disabled {
  visibility: hidden;
}
#toolbarDiv {
  text-align: center;
  padding-top: 1em;
}
#blockly {
  position: fixed;
}

/* Sprited icons. */
.random  {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
  background-position: -63px 0px;
}
.code {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
  background-position: -42px 0px;
}
.link {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
  background-position: -21px 0px;
}
