html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden
}
h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}
td, button {
  vertical-align: top;
}

/* Tabs */
#tabRow>td {
  border: 1px solid #ccc;
}
td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 5px 19px;
}
td.taboff {
  cursor: pointer;
  padding: 5px 19px;
}
td.taboff:hover {
  background-color: #eee;
}
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
html[dir=rtl] td.tabmax {
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
}
pre,
#content_xml {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top-style: none;
  overflow: hidden;
  display: none;
}
#textarea_xml {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}
iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-top: 0;
}
#languageMenu {
  vertical-align: top;
  margin-top: 15px;
  margin-right: 15px;
}

button {
  padding: 1px 10px;
  margin: 1px 5px;
  font-size: 10%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button>img {
  opacity: 0.6;
}
button:hover>img {
  opacity: 1;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
}
button.launch>img {
  opacity: 1;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}
