body {
  background-color: #eeeeee;
}


/********************/
/*  Navigation bar  */
/********************/
.nav-fixed {
  border-radius: 0;
  position: inherit;
  margin-bottom: 30px;
}
@media only screen and (min-width : 993px) {
  body {
    padding-top: 100px;
  }
  .nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 999;
  }
}


/************************************/
/*  Blocks, arduino, and xml areas  */
/************************************/
.content {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

#blocks_panel {
  padding: 0px;
  position: relative!important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

#content_blocks {
  margin: 0;
  padding: 0;
  min-height: 560px;
  background: none; 
  height: -moz-calc(100hv - 100px);     /* Firefox  */
  height: -webkit-calc(100hv - 100px);  /* WebKit   */
  height: -o-calc(100hv - 100px);       /* Opera    */
  height: calc(100hv - 100px);          /* Standard */
}

#content_xml {
  resize: none;
  outline: none;
  border: none;
  font-family: monospace;
  overflow: scroll;
  font-style: 0.2em !important;
  min-height: 469px;
  height: -moz-calc(100hv - 100px);     /* Firefox  */
  height: -webkit-calc(100hv - 100px);  /* WebKit   */
  height: -o-calc(100hv - 100px);       /* Opera    */
  height: calc(100hv - 100px);          /* Standard */
}

/* The materialize framework changes height of the div to show or hide */
/* the collapsible elements. */
#content_arduino {
  resize: none;
  outline: none;
  border: none;
  font-family: monospace;
  overflow: scroll;
  font-style: 0.2em !important;
  min-height: 469px;
  height: -moz-calc(100hv - 100px);     /* Firefox  */
  height: -webkit-calc(100hv - 100px);  /* WebKit   */
  height: -o-calc(100hv - 100px);       /* Opera    */
  height: calc(100hv - 100px);          /* Standard */
}


/*************/
/*  Buttons  */
/*************/
#button_run {
  position: absolute;
  right: 25px;
  top: -20px;
}
.run_loader {
  position: absolute !important;
  right: 24px !important;
  top: -20px !important;
  width: 56px !important;
  height: 56px !important; 
  z-index: 5;
}

#button_load_xml {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: none;
}

.button_toggle_toolbox_on {
  position: absolute;
  margin: 0 !important;
  padding: 0px !important;
  left: 12px;
  top: 9px;
  text-align: center;
  z-index: 5;
  border-color: #e0e0e0 !important;
  border-width: 1px !important;
  -webkit-border-radius: 4px 4px 4px 4px !important;
  -moz-border-radius: 4px 4px 4px 4px !important;
  border-radius: 4px 4px 4px 4px !important;
  background: rgba(13, 71, 161, 0.1) !important;  /* Blue 900 */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}
.button_toggle_toolbox_off {
  position: absolute;
  margin: 0 !important;
  padding: 0px !important;
  left: 12px;
  top: 9px;
  text-align: center;
  z-index: 5;
}


/***************************/
/*  Settings modal dialog  */
/***************************/
.settings_div {
  margin: 24px 0px;
  width: 100%;
}
.return_container {
  padding: 32px 24px 32px 24px !important;
}

/*******************************/
/*  Clean 50:50 same row divs  */
/*******************************/
.two_halves_container {
  width: 100%; 
  padding: 0;
  margin: 0;
}
.two_halves_left {
  padding: 0;
  margin: 0;
  border: none;
  width: 49%;
  float: right;
}
.two_halves_right {
  padding: 0;
  margin: 0;
  border: none;
  width: 50%;
  float: right;
}


/************/
/*  Others  */
/************/
/* Additional CSS to reduce size of Materialize Modal */
.modal_small {
  max-width: 30% !important;
}

/* Edit logo for code and xml collapsibles*/
.collapsible_logo {
  width: 3rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem; 
}


/*****************************/
/*  Overwriting Blockly CSS  */
/*****************************/
/* Blockly text for the following components:  */
.blocklyTreeLabel,           /* Toolbox        */
.blocklyText,                /* Block          */
.goog-menuitem-content {     /* Drop down menu */
  font-family: "Roboto", sans-serif!important;
}

/* Entire Blockly area, Toolbox dranw on top */
.blocklySvg {
  border-width: none !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

/* Toolbox */
.blocklyToolboxDiv {
  border-color: #e0e0e0 !important;
  border-width: 0px 1px 0px 0px !important;
  -webkit-border-radius: 4px 0px 0px 4px !important;
  -moz-border-radius: 4px 0px 0px 4px !important;
  border-radius: 4px 0px 0px 4px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px 0px 0px 0px !important;
  background: rgba(13, 71, 161, 0.1) !important;  /* Blue 900 */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}
.blocklyTreeRoot {
  background: none !important;
  border: none !important;
  margin: 33px 0px 0px 0px !important;
  padding: 5px 1px !important;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}
.blocklyTreeRow {
  background: none !important;
  border: none !important;
  margin: 0px 0px !important;
  padding: 8px 16px 8px 0px !important;
  box-sizing: content-box !important;
  /* line-height: 0.5rem !important;
  vertical-align: middle !important;*/
}
.blocklyTreeSelected {
  background-color: #2196f3 !important;  /* Blue 500 */
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #bbdefb !important;  /* Blue 100 */
}
.blocklyTreeLabel {
}
.blocklyTreeSeparator{
  padding: 0px !important;
  margin: 0px !important;
}

/* Toolbox second column with blocks*/
.blocklyFlyoutBackground {
  fill: #0d47a1 !important;  /* Blue 900 */
  fill-opacity: 0.15 !important;
  -webkit-border-radius: 0px 4px 4px 0px !important;
  -moz-border-radius: 0px 4px 4px 0px !important;
  border-radius: 0px 4px 4px 0px !important;
}


/*********************************/
/*  Overwriting Materialize CSS  */
/*********************************/
/* Modify container to have a larger width */
.container {
  max-width: 1650px !important;
  width: 100% !important;
}
@media only screen and (min-width : 601px) {
  .container {
    width: 95% !important;
  }
}
@media only screen and (min-width : 993px) {
  .container {
    width: 90% !important;
  }
}

/* Need larger icons in buttons */
.mdi-action-visibility {
  font-size: 2rem !important;
}

/* Button needs to be at a higher z index than */
/* card when floating and lower when clicked.  */
#button_run:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#button_run:active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
