@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
 
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

header {

    animation: 1s ease-out 0s 1 slideInFromLeft; 
    min-height: auto;
    text-align: center;
    color: #ffff;
    width: 100%;
    height: 100% !important;
 
}


.modal{

    max-height: 50% !important;
}




.header-content{
     

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;


}
 

 
.ardu{

    float:right;
}