body {
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
a:hover {
  color: #f00;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}
pre {
  font-size: large;
  overflow: auto;
  max-height: 400px;
}

/* Buttons. */
button {
  margin: 5px;
  margin-right: 12px;
  margin-left: 0;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: #fff;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button>img {
  opacity: 0.6;
}
button:hover>img {
  opacity: 1;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
#toolbarDiv {
  text-align: center;
  width: 400px;
  padding-top: 1em;
}
#blockly {
  position: absolute;
}
#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}
#languageMenu {
  vertical-align: top;
  margin-top: 12px;
}
.notext {
  font-size: 10%;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.img {
  background-position: -42px 0px;
}
.run {
  background-position: -63px -21px;
}
.stop {
  background-position: -63px 0px;
}
