body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
a:hover {
  color: #f00;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}

#graph {
  position: absolute;
  bottom: 25px;
  height: 15px;
  width: 100px;
  border: 1px solid #ddd;
}
#graphValue {
  height: 15px;
  width: 0;
  background-color: #0d0;
  transition-property: width;
  transition-duration: 1s;
}

#blockly {
  position: fixed;
}

/* Buttons */
button {
  margin: 5px 0;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: #fff;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}

